<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Dodocs - Clientes</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>

  <link rel='stylesheet' type='text/css' media='screen' href='./css/style.css'>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  

</head>

<body classname="snippet-body">
    <div class="page-content page-container" id="page-content">
        <div class="padding">
          <div class="row container d-flex justify-content-center">
            <div class="col-lg-8 grid-margin stretch-card">
                <div class="form-group row">
                    <div class="col-lg-8">
                        <img src="../img/head.png" width="100%">
                    </div>

                </div>
        

<br><br>

<h2 aling="center">CONTRATO DE PRESTAÇÃO DE SERVIÇOS</h2>


<h4>DAS PARTES</h4>

<p align="justified">CONTRATANTE: GRUPO DE APOIO AO ADOLESCENTE E A CRIANÇA COM CANCER - GRAACC,
sediada na Rua Pedro de Toledo, 572 – Vila Clementino – São Paulo – SP – CEP: 04039-001, 
inscrita no CNPJ nº 67.185.694/0001-50, e Inscrição Estadual nº 014.466.318.611-7, 
neste ato representada por seu representante legal Sra. Tammy Rodrigues Allersdorfer, 
brasileira portadora do CPF n° 131.287.518-62 e RG nº 20.154.231-6 SSP/SP.</p>

<p align="justified">CONTRATADA: Dodocs Preparação de Documentos LTDA, inscrito sob o CNPJ nº 30.958.145/0001-60,
com sede em Rua Padre Francisco Barreto, 236, Vila Jaguara, CEP 05118-050, São Paulo, SP, neste ato 
representada na forma de seus atos constitutivos, por seu representante legal Rogerio Fernando Antonio Martorelli, 
brasileiro, sócio diretor, portador do documento de Identidade RG nº. 22.888.962-5, inscrito no CPF/MF sob o nº. 256.511.358-71, 
residente e domiciliado em Rua Padre Francisco Barreto, 238, Vila Jaguara, São Paulo – SP CEP 05118-050.<br>

<p align="justified">Decidem as partes, na melhor forma de direito, celebrar o presente CONTRATO DE PRESTAÇÃO DE SERVIÇOS, que reger-se-á mediante as cláusulas e condições adiante estipuladas.</p>

<h4>DO OBJETO</h4>
<p align="justified"><b>Cláusula 1ª:</b> O presente contrato tem por objeto, a prestação de serviços, sem exclusividade, para obtenção  de alvará de
    funcionamento provisório para os eventos temporários I Congresso Internacional de Oncologia -  GRAACC 2022, a ser realizado no
     Centro de Convenções Frei Caneca, nos dias 13 a 15 de outubro de 2022, nos horários das 08h às 20h horas, 
     sendo o número máximo de participantes do evento igual a 1.000 pessoas por dia de evento, sendo que, em sua vigência, 
     as partes devem honrar com as obrigações, sob pena de ser considerado extinto o presente instrumento.</p>

<p align="justified"><b>Cláusula 2ª:</b> A CONTRATADA se obriga, por si e por seus empregados, a observar o Regulamento Interno e Diretrizes e Política de
    Segurança, seja da informação, seja de prevenção de acidentes do trabalho, vigente nas dependências do Estabelecimento onde 
    ocorrerá o Evento.</p>

<p align="justified"><b>Cláusula 3ª:</b> A CONTRATADA terá total autonomia e independência para gerir e administrar suas atividades, sendo a única
    responsável pela condução, supervisão, organização e coordenação de suas atividades, contratação de empregados, colaboradores
     e/ou prestadores de serviços, determinação de horários (jornada) e de qualquer outra atividade ou providência necessária ao 
     perfeito e adequado desempenho dos serviços contratados.

<p align="justified"><b>Cláusula 4ª:</b> Os serviços prestados por meio de profissional da CONTRATADA estarão sob supervisão técnica direta da própria
    CONTRATADA, que garantirá integralmente a qualidade dos serviços executados frente à CONTRATANTE.

<h4>OBRIGAÇÕES DA CONTRATANTE</h4>
<p align="justified"><b>Cláusula 5ª:</b>A CONTRATANTE deverá fornecer à CONTRATADA todas as informações necessárias à realização do serviço,
     bem como os documentos solicitados durante o andamento do processo de obtenção do alvará até consecução do mesmo, 
     atendendo todos os prazos determinados pelos órgãos competentes, uma vez que disso depende o deferimento do processo.

</p align="justified">Cláusula 6ª:</b>A CONTRATANTE deverá efetuar o pagamento na forma e condições estabelecidas na cláusula 23ª.</p>

</p align="justified">Cláusula 7ª:</b>Fornecer para a CONTRATADA, todas as documentações e informações necessárias para liberação das
 autorizações dentro do prazo exigidos perante lei dos órgãos públicos;</p>

<p align="justified"><b>Cláusula 8ª:</b>Responsabilidade total pela não entrega do serviço contratado, caso o mesmo seja, pela ausência de
    algumas informações ou documentação do contratante;</p>

<p align="justified"><b>Cláusula 9ª:</b>Realizar o pagamento de todas e quaisquer taxas que seja necessário para liberação da autorização final.</p>

<p align="justified"><b>Cláusula 10ª:</b>Caso a CONTRATANTE modifique, deliberadamente, um ou mais dados do evento, obrigando assim a CONTRATADA
a reiniciar o processo será cobrado uma multa de 20% em cima do valor bruto e total dos Serviços, e fica a cargo da 
contratante arcar com os demais custos de taxas do processo;</p>

<p align="justified">Parágrafo Único: Se a necessidade de alteração dos dados do evento se der em razão de caso fortuito ou motivo de força
     maior, não haverá aplicação da multa prevista na Cláusula Sétima, acima, contudo, deverá a CONTRATANTE arcar com as 
     custas e taxas devidas para o processo. </p>

<p align="justified"><b>Cláusula 11ª:</b>Fica a cargo da CONTRATANTE a responsabilidade da não aceitação do órgão público para caso da modificação dos
     dados do evento fora do prazo estipulado de 30 dias.</p>

<h4>OBRIGAÇÕES DA CONTRATADA</h4>
<p align="justified"><b>Cláusula 12ª:</b>Cumprir o estipulado nos termos do presente instrumento contratual.</p>

<p align="justified"><b>Cláusula 13ª:</b>Entregar o serviço contratado até antes da realização do evento.</p>

<p align="justified"><b>Cláusula 14ª:</b>Prestar informações à CONTRATANTE, sempre que está lhe solicitar, informando sobre a execução de seus 
    serviços e demais detalhes sobre a execução de suas atividades.</p>

<p align="justified"><b>Cláusula 15ª:</b>Não revelar detalhes de suas atividades a terceiros, bem como, informações sobre os eventos;</p>

<p align="justified"><b>Cláusula 16ª:</b>Sem prejuízo das demais obrigações dispostas no Contrato, também se constituem em obrigações da CONTRATADA:</p>
<p align="justified"><b>(a)</b> empenhar-se com o máximo de zelo, eficiência e diligência no cumprimento e realização dos serviços contratados, 
    atendendo integralmente aos níveis de serviços acordados, inclusive quanto aos prazos e condições estipuladas neste instrumento, 
    devendo designar pessoal técnico especializado para a prestação dos serviços, além de utilizar as ferramentas, peças e 
    instrumentos apropriados;</p>

<p align="justified"><b>(b)</b> deter e manter válidas todas e quaisquer autorizações e/ou licenças necessárias ao cumprimento dos termos e condições
     de que trata este Contrato;</p>

<p align="justified"><b>(c)</b> zelar pelos equipamentos, acessórios, insumos e instalações da CONTRATANTE (quando os serviços forem realizados nas 
    dependências da dela), indenizando todos os prejuízos decorrentes de condutas culposas/dolosas relacionada com os serviços 
    contratados;</p>

<p align="justified"><b>(d)</b> informar imediatamente a CONTRATANTE sobre eventuais problemas de qualidade enfrentados internamente, irregularidades, 
    atrasos e impedimentos à boa e total execução do Contrato, seja de ordem técnica, legal ou material (inclusive nas hipóteses 
    de “caso fortuito” ou “motivo de força maior”) e das ações corretivas efetuadas;</p>

<p align="justified"><b>(e)</b> não ceder ou transferir a terceiros, total ou parcialmente, as obrigações, responsabilidades e direitos assumidos 
    no Contrato, sem prévia e expressa anuência da CONTRATANTE;</p>

<p align="justified"><b>(f)</b> utilizar e exigir de seus sócios, prepostos e colaboradores, que se utilizem adequadamente nas dependências da 
    CONTRATANTE todos os EPI´s (Equipamentos de Segurança e Proteção Individual), sempre que necessários e/ou legalmente exigidos,
     respeitando as normas internas da CONTRATANTE relativas à segurança do trabalho;</p>

<p align="justified"><b>(g)</b> não utilizar marcas, logotipos e demais sinais distintivos de propriedade da CONTRATANTE, sem sua prévia e 
    expressa anuência;</p>

<p align="justified"><b>(h)</b> responder exclusivamente por todos os ônus decorrentes da Legislação do Trabalho, Previdência Social e Acidentes 
    de Trabalho, de acordo com as leis vigentes, não havendo qualquer relação empregatícia entre ela (seus sócios, 
    administradores, prepostos, empregados e/ou colaboradores) e a CONTRATANTE, nem ônus desta para com eles;</p>

<p align="justified"><b>(i)</b> não contratar serviços ou adquirir produtos de empresas que pratiquem atos nocivos ao meio ambiente, bem como não 
    medir esforços para prevenir e reduzir os impactos ambientais que as atividades decorrentes do presente Contrato possam produzir;</p>

<p align="justified"><b>(j)</b> não explorar mão de obra infantil, escrava ou trabalho vil;</p>

<p align="justified"><b>(k)</b> manter sob sigilo as informações/documentos confidenciais que lhe forem transmitidas pela CONTRATANTE sobre suas 
    atividades ou projetos, durante a vigência do Contrato, sendo-lhe vedado transmiti-las a terceiros sob qualquer pretexto sem 
    prévia e expressa autorização da CONTRATANTE;</p>

<p align="justified"><b>(l)</b> responsabilizar-se integralmente, naquilo que for aplicável, por todas as obrigações trabalhistas, fiscais, 
    previdenciárias e securitárias decorrentes da prestação dos serviços contratados;</p>

<p align="justified"><b>(m)</b> responder por qualquer dano comprovadamente causado a CONTRATANTE ou a terceiros (notadamente clientes, 
    parceiros, associados e fornecedores da CONTRATANTE), por comprovada ação ou omissão exclusiva dela, CONTRATADA, em 
    decorrência da execução dos serviços ora contratados;</p>

<p align="justified"><b>(n)</b> refazer e/ou corrigir, no prazo que vier a ser solicitado pela CONTRATANTE, todo e qualquer serviço considerado 
    inadequado por ela, ou, alternativamente, apresentar expressa justificativa comprobatória da impossibilidade do atendimento 
    da referida solicitação, oportunidade em que as Partes ajustarão, de comum acordo, a melhor solução para o caso;</p>

<p align="justified"><b>Cláusula 17ª:</b>Para todos os efeitos legais, a CONTRATADA é e sempre será considerada como “Prestadora de Serviços” (terceirizada), 
    nos termos da legislação brasileira em vigor. Por esta razão, o presente Contrato não gera vínculo empregatício entre as Partes.</p>

<p align="justified"><b>Cláusula 18ª:</b>A inexistência de vínculo empregatício com a CONTRATANTE é extensiva aos empregados, sócios, administradores, 
    prestadores de serviços e/ou prepostos da CONTRATADA, especialmente, mas sem se limitar, àqueles que forem destacados por ela 
    para o desempenho dos serviços contratados.</p>

<p align="justified"><b>Cláusula 19ª:</b>Face a inexistência de vínculo de qualquer espécie ou natureza, especialmente de ordem trabalhista, entre a 
    CONTRATANTE e a CONTRATADA e/ou seus colaboradores/empregados, sócios, administradores, prestadores de serviços e prepostos, 
    fica expressamente ajustado que a CONTRATADA será a única e exclusiva responsável pelo pagamento dos salários, benefícios, 
    adicionais quando devidos, contribuições previdenciárias (“INSS”), recolhimento do Fundo de Garantia por Tempo de Serviço 
    (“FGTS”) e demais encargos trabalhistas, sociais, fundiários e securitários devidos aos colaboradores/empregados contratados 
    e destacados por ela para a realização dos serviços/atividades ora contratados, isentando a CONTRATANTE, neste ato, de toda 
    e qualquer obrigação ou responsabilidade nesse sentido.</p>

<p align="justified"><b>Cláusula 20ª:</b>A CONTRATADA deverá apresentar à CONTRATANTE, sempre que esta solicitar, a documentação comprobatória da 
    regularidade das obrigações estabelecidas no item 3.6, acima, sob pena de retenção/suspensão dos pagamentos devidos a 
    CONTRATADA em razão deste Contrato.</p>

<p align="justified"><b>Cláusula 21ª:</b>Sendo este Contrato de natureza civil, em nenhum momento de sua vigência a CONTRATANTE será responsável, 
    direta ou indiretamente, por quaisquer pagamentos à CONTRATADA ou aos seus colaboradores/empregados, sócios, administradores 
    e prepostos, a título de encargos sociais, trabalhistas, previdenciários e/ou de acidentes de trabalho.</p>

 <p align="justified"><b>Cláusula 22ª:</b>No entanto, caso a CONTRATANTE venha a ser acionada, judicial ou extrajudicialmente, por obrigações de 
    responsabilidade da CONTRATADA, de qualquer espécie ou natureza, esta se obriga a requerer a imediata exclusão da CONTRATANTE 
    do polo passivo da demanda, ou, não sendo isso possível, a indenizá-la por todas as despesas incorridas para o acompanhamento 
    da demanda, incluindo, mas não se limitando, a despesas gerais, custas processuais, depósitos recursais, honorários advocatícios, 
    além de quaisquer outros valores que vierem a ser determinados em sentença ou outra decisão judicial, arbitral ou administrativa, 
    (ainda que não seja de mérito), no prazo máximo de 03 (três) dias úteis a contar do recebimento de notificação para pagamento, 
    sem prejuízo de poder ser ajuizada pela CONTRATANTE a competente Ação Regressiva para a cobrança dos débitos.</p>

<h4>>DO VALORES E DAS CONDIÇÕES DE PAGAMENTO</h4>

 <p align="justified"><b>Cláusula 23ª:</b>Os serviços alvos deste contrato serão remunerados pela quantia de R$ 5.300,00 (Cinco mil e trezentos reais), 
    a ser efetuado no dia 30 de setembro de 2022. O pagamento deverá ser realizado via Boleto para a conta da CONTRATADA, contra a 
    apresentação por ela da(s) respectiva(s) Nota(s) Fiscal(is) (as “NFs”), valendo o(s) comprovante(s) de DEPÓSITO/TED/TEF, 
    contudo, como recibo(s) de pagamento e quitação:</p>

 <p align="justified"><b>Cláusula 24ª:</b>A(s) NFs e os Boletos Bancários (quando o caso) deverão ser encaminhados para a CONTRATANTE com o mínimo de 10 
    (dez) dias de antecedência da data do vencimento, neles constando (i) a descrição dos serviços; (ii) o período de execução; 
    (iii) o valor a ser pago; e (iv) eventuais tributos retidos na fonte.</p>

 <p align="justified">Parágrafo Primeiro: A não observância pela CONTRATADA do disposto no item 2.2.1, acima, automaticamente prorrogará o 
    pagamento para o próximo 5º (quinto) dia útil após a regularização da pendência, sem qualquer acréscimo moratório ou remuneratório.</p>

 <p align="justified">Parágrafo Segundo: Caso as datas para pagamento (vencimento) coincidam com sábados, domingos ou feriados, o pagamento será 
    efetuado no 1º (primeiro) dia útil subsequente.</p>

 <p align="justified"><b>Cláusula 25ª:</b>No valor ajustado da Remuneração já estão inclusos todo e qualquer custo, seja direto ou indireto, 
    incluindo, mas não se limitando, a materiais, encargos sociais, trabalhistas e tributários, despesas gerais, equipamentos, 
    ferramentas, bens consumíveis, transporte e alimentação, dentre outros, não sendo admitida, a qualquer título, a cobrança de 
    valores adicionais.</p>

 <p align="justified">Parágrafo Primeiro: A CONTRATANTE promoverá eventual retenção de tributos na fonte sempre que a legislação em vigor determinar 
    referida retenção sobre quaisquer valores a serem pagos à CONTRATADA.</p>

 <p align="justified">Parágrafo Segundo: Quando houver necessidade de desembolso de despesas pela CONTRATADA para a realização dos serviços 
    acordados, a CONTRATADA deverá notificar a CONTRATANTE em tempo hábil com a devida justificativa para que a CONTRATANTE 
    autorize previamente tais despesas. O reembolso dessas despesas pela CONTRATADA só ocorrerá mediante autorização prévia da 
    CONTRATANTE, e se dará na fatura referente ao mês posterior ao mês em que as despesas foram incorridas.</p>

 <p align="justified"><b>Cláusula 26ª:</b>Exceto quando prévia e expressamente autorizado pela CONTRATANTE, a CONTRATADA não está autorizada, em nenhuma 
    hipótese, a emitir boletos, duplicatas ou qualquer outro título representativo do valor total ou parcial deste Contrato, seja 
    como pagamento ou simples garantia para negociar com terceiros, sejam estes, pessoas físicas ou jurídicas, especialmente 
    instituições financeiras.</p>

 <p align="justified"><b>Cláusula 27ª:</b>Ocorrendo atraso nos pagamentos devidos à CONTRATADA, a CONTRATANTE responderá pelo principal, acrescido de multa 
    moratória de 2% (dois por cento), correção monetária pelo índice IPC-A/IBGE e de juros moratórios de 1% (um por cento) ao mês, 
    calculados pró rata.</p>

 <p align="justified">Parágrafo Primeiro: O atraso injustificado no pagamento da Remuneração devida à CONTRATADA por um período igual ou superior a 
    30 (trinta) dias, implicará na suspensão dos serviços até a regularização do pagamento do valor em atraso. Se o atraso 
    injustificado no pagamento superar a 60 (sessenta) dias corridos, a CONTRATADA poderá optar pela rescisão justificada deste 
    Contrato.</p>

 <p align="justified">Parágrafo Segundo: A CONTRATADA se obriga a não protestar a CONTRATANTE, devendo avisar em até 15 (quinze) dias depois
     do vencimento sobre qualquer inadimplência.</p>

 <p align="justified"><b>Cláusula 28ª:</b>A Remuneração só poderá ser reajustada mediante previa negociação entre as Partes com a necessária 
    formalização do competente Aditivo Contratual.</p>

 <p align="justified"><b>Cláusula 29ª:</b>A CONTRATADA declara não ter sido necessária a realização de qualquer investimento extraordinário à 
    condução regular das suas atividades e para a prestação dos serviços ora contratados, contando a CONTRATADA, para tanto, 
    com os recursos financeiros e operacionais (incluindo mão de obra qualificada) de que dispõe nesta data.</p>

 <p align="justified"><b>Cláusula 30ª:</b>A CONTRATANTE poderá reter/suspender todo e qualquer pagamento devido a CONTRATADA, ainda que em caráter 
    preventivo, caso a CONTRATANTE esteja sob ameaça de ser ou venha a ser condenada em qualquer demanda promovida por 
    colaboradores/empregados envolvidos ou destacados pela CONTRATADA na prestação dos serviços objeto deste Contrato, seja de 
    natureza cível, trabalhista, previdenciária ou outra decorrente das obrigações assumidas pela CONTRATADA neste instrumento.</p>

 <p align="justified">Parágrafo Primeiro: A CONTRATANTE também poderá suspender/reter, no todo ou em parte, quaisquer pagamentos de valores devidos à 
    CONTRATADA, no caso de comprovada violação por parte dele, decorrente de dolo ou culpa, de quaisquer das demais obrigações 
    assumidas no presente Contrato, até o efetivo saneamento de todas as irregularidades apontadas.</p>

 <p align="justified">Parágrafo Segundo: É facultado, ainda, à CONTRATANTE, deduzir dos pagamentos devidos à CONTRATADA em razão deste Contrato, 
quaisquer valores que tenha comprovadamente despendido para pagamento de obrigações dela, CONTRATADA, seja por disposição legal,
 judicial ou por força deste instrumento. Nesse sentido, a CONTRATADA desde já autoriza a compensação de valores à ela devidos em 
 função deste Contrato com importâncias devidas por ela à CONTRATANTE.</p>

<h4>RESCISÃO DO CONTRATO</h4>

 <p align="justified"><b>Cláusula 31ª:</b> O presente Contrato poderá ser resolvido ou rescindido pelas Partes, a qualquer tempo, nas hipóteses abaixo descritas:</p> 
 <p align="justified"><b>(a)</b> por mútuo acordo, mediante a formalização do competente distrato;</p>
 <p align="justified"><b>(b)</b> unilateralmente, por qualquer das Partes, em caso de descumprimento por uma delas de qualquer das cláusulas ora 
    ajustadas, bastando para tanto uma notificação escrita pela Parte Inocente a Parte Infratora apontando a condição desrespeitada 
    e não tendo a Parte Infratora sanado as irregularidades no prazo determinado na referida notificação. Nesta hipótese, poderá a 
    Parte Inocente resolver o Contrato, suportando a Parte Infratora todas as penalidades previstas neste instrumento;</p>

 <p align="justified"><b>(c)</b> unilateralmente, pela CONTRATANTE, em razão de paralisação injustificada dos serviços contratados por um prazo 
    superior a 15 (quinze) dias;</p>

 <p align="justified"><b>(d)</b> unilateralmente, pela CONTRATADA, em razão de atraso injustificado nos pagamentos pela CONTRATANTE por prazo superior 
    a 60 (sessenta) dias; </p>

 <p align="justified"><b>(e)</b> unilateralmente, pela CONTRATANTE, sem quaisquer justificativas, ônus ou penalidades, desde que mediante aviso prévio 
    formal e escrito com antecedência mínima de 30 (trinta) dias do evento;</p>

 <p align="justified"><b>(f)</b> pedido ou decretação de extinção, dissolução, falência, recuperação judicial ou extrajudicial ou insolvência 
    civil de qualquer das Partes; ou</p>

 <p align="justified"><b>(g)</b> em razão de “caso fortuito” ou “motivo de força maior” que inviabilize a manutenção deste Contrato ou a continuidade 
    dos serviços contratados de forma regular e satisfatória. Neste caso, apesar de não incorrer a aplicação de multa ou outras 
    penalidades, aplicar-se-á em favor da CONTRATADA o disposto na Cláusula 32ª, adiante.</p>

 <p align="justified"><b>Cláusula 32ª:</b>Com exceção apenas a hipótese de rescisão justificada do Contrato pela CONTRATANTE, restará sempre assegurado 
    à CONTRATADA o pagamento proporcional por todos os serviços prestados por ela até da data em que se efetivar a extinção
     do Contrato.</p>

<h4>DAS PENALIDADES POR DESCUMPRIMENTO.</h4>
 <p align="justified"><b>Cláusula 33ª:</b>Com exceção expressa das cláusulas prevendo penalidades com execução específica, na hipótese de descumprimento 
    de qualquer das demais obrigações estabelecidas no presente instrumento, a Parte Infratora ficará sujeita ao pagamento, 
    por infração cometida, de multa moratória (“não compensatória”) no valor equivalente a 10% (dez por cento) sobre a Remuneração
    Mensal estabelecida neste Contrato (assim entendido aquela estabelecido na Cláusula 23ª, retro), podendo o presente 
    instrumento ser imediatamente rescindido, a critério da Parte Prejudicada, mediante envio de simples notificação à Parte 
    Infratora.</p>

 <p align="justified">Parágrafo Único: O pagamento da multa convencional estabelecida na Cláusula 33ª, acima, não exime a Parte Infratora de responder 
    por todas as perdas e danos que vierem a ser apurados, em virtude dos prejuízos que sua falha tenha causado ou pela infração 
    ou execução inadequada de qualquer cláusula ou condição deste Contrato.</p>

<h4>DA VIGÊNCIA.</h4>
 <p align="justified"><b>Cláusula 34ª:</b>O presente Contrato vigorará por prazo determinado, com início na data de sua celebração até o encerramento do 
    Evento a ser realizado no dia 06 de setembro de 2022, ou até a conclusão dos Serviços, o que ocorrer primeiro.</p>

<h4>DA CONFIDENCIALIDADE.</h4>
 <p align="justified"><b>Cláusula 35ª:</b>Toda informação relacionada a este Contrato, revelada por uma Parte à outra, que (a) diga respeito a dados 
    estratégicos comerciais e financeiros, e/ou (b) tenha sido identificada como confidencial, deverá ser considerada pelas 
    Partes como informação confidencial (“Informação Confidencial”) e mantida em sigilo. A informação confidencial da CONTRATANTE 
    revelada à CONTRATADA, bem como aquela da CONTRATADA revelada à CONTRATANTE só poderá ser usada em situações relacionadas ao 
    Contrato.</p>

 <p align="justified"><b>Cláusula 36ª:</b>Nada neste Contrato, contudo, limitará ou proibirá que qualquer das Partes use informações (incluindo mas não se 
    limitado a ideias, conceitos, know-how, técnicas e metodologias) que (i) sejam previamente sabidas pela Parte; (ii) forem 
    desenvolvidas independentemente pelas Partes; (iii) forem obtidas de terceiros que, até onde se saiba, não estejam obrigados 
    a um correspondente dever de confidencialidade; ou (iv) se tornem públicas sem que as obrigações de confidencialidade aqui 
    assumidas tenham sido violadas.</p>

 <p align="justified"><b>Cláusula 37ª:</b>O acesso à Informação Confidencial das Partes será restrito ao seu pessoal nas atividades descritas neste Contrato, 
    sendo certo que cada uma das Partes protegerá a Informação Confidencial da outra Parte da mesma maneira com que protege sua própria 
    Informação Confidencial, porém nunca se utilizando de um grau de sigilo abaixo do razoável</p>

 <p align="justified"><b>Cláusula 38ª:</b>A Informação Confidencial não pode ser copiada ou reproduzida sem o prévio consentimento da Parte reveladora, 
    por escrito.</p>

 <p align="justified"><b>Cláusula 39ª:</b>Toda a Informação Confidencial disponível em razão do presente Contrato, inclusive cópias, deverá ser devolvida 
    ou destruída na primeira das seguintes hipóteses: (a) término do Contrato, por qualquer motivo que seja; ou (b) solicitação 
    da Parte reveladora.</p>

 <p align="justified"><b>Cláusula 40ª:</b>Na hipótese de qualquer das Partes receber uma citação/intimação ou qualquer outra requisição originada 
    por processo judicial ou administrativo, solicitando Informação Confidencial da outra Parte, deverá notificar a outra Parte do 
    recebimento de tal citação/intimação. A Parte que receber a citação/intimação está autorizada a atender a tal citação/intimação, 
    na medida do exigido pela legislação aplicável.</p>

 <p align="justified"><b>Cláusula 41ª:</b>A obrigação de sigilo contida nesta Cláusula, subsistirá ao término/extinção do presente Contrato, vigorando por 
    prazo indeterminado, sendo certo que na hipótese de violação serão aplicadas as penalidades dispostas na Cláusula 6ª, retro.</p>

<h4>DAS DECLARAÇÕES DA CONTRATADA.</h4>
 <p align="justified"><b>Cláusula 42ª:</b>A CONTRATADA declara e garante à CONTRATANTE que:</p>
 <p align="justified"><b>(i)</b> possui capacitação técnica adequada para o cumprimento deste Contrato;</p>
 <p align="justified"><b>(ii)</b> não utiliza de trabalho ilegal e compromete-se a não utilizar práticas de trabalho análogo ao escravo, ou de mão de 
    obra infantil, salvo este último na condição de aprendiz, observadas às disposições da Consolidação das Leis do Trabalho, 
    seja direta ou indiretamente, por meio de seus respectivos fornecedores de produtos e de serviços;</p>

 <p align="justified"><b>(iii)</b> não emprega menores até 18 (dezoito) anos, inclusive menor aprendiz, em locais prejudiciais à sua formação, ao seu 
    desenvolvimento físico, psíquico, moral e social, bem como em locais e serviços perigosos ou insalubres, em horários que não 
    permitam a frequência à escola e, ainda, em horário noturno, considerando este o período compreendido entre as 22h e 5h;</p>

 <p align="justified"><b>(iv)</b> não utiliza práticas de discriminação negativa e limitativas ao acesso na relação de emprego ou a sua manutenção, 
    tais como, mas não se limitando a, motivos de: sexo, origem, raça, cor, condição física, religião, estado civil, idade, 
    situação familiar ou estado gravídico; e</p>

 <p align="justified"><b>(v)</b> compromete-se a proteger e preservar o meio ambiente, bem como a prevenir e erradicar práticas danosas ao meio ambiente, 
    executando seus serviços em observância à legislação vigente no que tange à Política Nacional do Meio Ambiente e dos Crimes 
    Ambientais, bem como dos atos legais, normativos e administrativos relativos à área ambiental e correlatas, emanados das 
    esferas Federal, Estaduais e Municipais.</p>

 <p align="justified"><b>Cláusula 43ª:</b>A violação de qualquer das declarações/práticas estabelecidas na Cláusula 42ª, acima, poderá ensejar a 
    imediata rescisão justificada deste Contrato pela CONTRATANTE, com aplicação das penalidades dispostas neste Instrumento.</p>

<h4>DAS OBRIGAÇÕES ANTICORRUPÇÃO.</h4>
 <p align="justified">Cláusula 44ª:</b>A CONTRATADA declara que não praticará qualquer ato que constitua violação a qualquer lei de qualquer local no 
    qual os serviços sejam prestados, incluindo, mas sem se limitar a Lei Anticorrupção (Lei n.º 12.846/13) e regulamentos específicos. 
    A CONTRATADA garante, ainda, que não pagará, tampouco prometerá dar qualquer coisa de valor, a qualquer título, direta ou 
    indiretamente, a qualquer oficial do governo, membro ou funcionário de qualquer partido político e/ou pessoa que exerça função 
    pública, com o objetivo de influenciar uma ação ou decisão do mesmo, que possa interferir na obtenção ou retenção de negócios 
    e/ou vantagens para a CONTRATANTE.</p>

<h4>DAS DISPOSIÇÕES FINAIS.</h4>
 <p align="justified"><b>Cláusula 45ª:</b>Força Executiva. O presente instrumento consubstancia título executivo extrajudicial, de forma autônoma e 
    independente, nos termos da legislação Processual Civil em vigor. Caso qualquer das Partes tenha que promover a execução 
    judicial, total ou parcial, deste Contrato, a Parte Vencida responderá também por todas as despesas processuais, 
    emolumentos e honorários advocatícios previamente ajustados em 20% (vinte por cento), este calculado sobre o valor 
    atualizado do débito em aberto.</p>

 <p align="justified"><b>Cláusula 46ª:</b>Boa-fé Negocial. As Partes declaram serem capazes para a celebração deste Contrato, que teve seus termos 
    e condições ativamente negociados e redigidos de boa-fé pelas Partes, agindo na plena expressão e livre exercício de suas 
    vontades, com ampla discussão e esclarecimento sobre os respectivos direitos e obrigações aqui estipulados. As Partes se 
    comprometem a fazer tudo o que for razoável, com boa-fé e cooperação que seja necessário ou desejável para fazer valer o 
    espírito e a intenção deste Contrato.</p>

 <p align="justified"><b>Cláusula 47ª:</b>Ajuste Integral. Este Contrato é o único e integral ajuste entre as Partes, substituindo e revogando 
    todos os entendimentos, acordos, pré-contratos, contratos em vigor, propostas e documentos anteriores, relacionados 
    ao seu objeto.</p>

 <p align="justified"><b>Cláusula 48ª:</b>Aditamentos. As alterações, aditamentos e formulações de Anexos a este Contrato somente terão eficácia 
    se efetivados por escrito e assinados por representantes autorizados das Partes.</p>

 <p align="justified"><b>Cláusula 49ª:</b>Ausência de Renúncia. O fato de qualquer das Partes não exigir, a qualquer tempo, o cumprimento de 
    qualquer obrigação ou deixar de exercer algum direito não será interpretado como renúncia a direitos ou novação de obrigações, 
    tampouco deverá afetar o direito de exigir o cumprimento de toda e qualquer obrigação aqui contida, ou de exercer o direito 
    em questão.</p>

 <p align="justified"><b>Cláusula 50ª:</b>Autonomia das Disposições. Se alguma disposição deste Contrato for julgada inválida ou ineficaz, tal 
    invalidade ou ineficácia não afetará as demais cláusulas, que permanecerão em plena vigência e eficácia, e, serão interpretadas 
    de forma a melhor exprimir a intenção das Partes.</p>

 <p align="justified"><b>Cláusula 51ª:</b>Responsabilidade. As Partes se responsabilizam pelas perdas e danos oriundos de atos omissivos ou 
    comissivos, típicos de negligência, imprudência ou imperícia, bem como atitudes propositais ou deliberadas de seus sócios, 
    empregados, administradores, prepostos e/ou terceiros por ela contratados, que venham a causar a outra Parte ou terceiros,
     obrigando-se a repará-los diretamente ao ofendido.</p>

 <p align="justified"><b>Cláusula 52ª:</b>Da Compensação. Todos os direitos e obrigações referidos neste Contrato podem ser liquidados por meio 
    do mecanismo da compensação, nos termos do disposto nos Artigos 368 e seguintes do Código Civil Brasileiro.</p>

 <p align="justified"><b>Cláusula 53ª:</b>Caso Fortuito ou Motivo de Força Maior. As Partes não serão responsáveis perante a outra pelos prejuízos 
    resultantes da inobservância, total ou parcial, deste Contrato, se comprovadamente decorrer das hipóteses de “caso fortuito” 
    ou “motivo de força maior”, nos termos do que dispõe o Artigo 393, do Código Civil brasileiro.</p>

 <p align="justified"><b>Cláusula 54ª:</b>Não Solicitação. Durante a vigência e até o período de 180 (cento e oitenta) dias subsequentes à extinção 
    deste Contrato, as Partes se obrigam a não empregar ou contratar qualquer empregado da outra parte, salvo na hipótese de haver 
    consentimento expresso para tanto.</p>

 <p align="justified"><b>Cláusula 55ª:</b>Representação. As Partes declaram, sob as penas da lei, que seu(s) representante(s) legal(is) abaixo 
    subscrito(s) encontra(m)-se devidamente constituído(s) na forma dos seus respectivos Contratos/Estatutos Sociais, com poderes 
    para assumir as obrigações contraídas neste instrumento, independentemente de qualquer outra formalidade.</p>

 <p align="justified"><b>Cláusula 56ª:</b>Independência e Desvinculação. Neste ato, as Partes reconhecem e declaram a total desvinculação e 
    independência de seus negócios, sendo certo que em nenhum momento poderão alegar qualquer vinculação de ordem societária, 
    trabalhista ou administrativa, comprometendo-se, única e exclusivamente, com a relação civil ora estabelecida, ou seja, 
    exceto a prestação de serviços autônomos/terceirizados regulada neste Contrato, não se estabelece, nem se estabelecerá entre 
    as Partes, qualquer forma de sociedade, associação, “joint venture”, parceria, consórcio, vínculo de emprego ou responsabilidade 
    solidária.</p>

 <p align="justified"><b>Cláusula 57ª:</b>Ausência de exclusividade. O presente Contrato é celebrado entre as Partes sem qualquer vínculo ou 
    natureza de exclusividade.</p>

 <p align="justified"><b>Cláusula 58ª:</b>Comunicações. Todas as comunicações entre as Partes deverão ser feitas por escrito e entregues por carta 
    registrada, courier, em mãos, ou enviados por e-mail, este último para os seguintes endereços:</p>

 <p align="justified">Se para a CONTRATANTE:</p>
 <p align="justified">a/c: Sr(a). roberta.moretti@ccmgroup.com.br e gabriel.queiros@ccmgroup.com.br</p>
 <p align="justified">e-mail: Roberta Moretti e Gabriel Queirós</p>


 <p align="justified">Se para a CONTRATADA:</p>
 <p align="justified">a/c: Sr(a). Rogerio Martorelli ou Thardelly Regis</p>
 <p align="justified">e-mail: atendimento@dodocs.com.br</p>

 <p align="justified"><b>Cláusula 59ª:</b>Cessão. Nenhuma das Partes poderá ceder ou transferir a terceiros, total ou parcialmente, os direitos e 
    obrigações decorrentes deste Contrato, sem a prévia e expressa anuência da outra Parte.</p>

 <p align="justified"><b>Cláusula 60ª:</b>Sucessores. O presente Contrato obriga as Partes e seus sucessores legais, a qualquer título.</p>

 <p align="justified"><b>Cláusula 61ª:</b>Direitos Autorais e Propriedade Intelectual. Este Contrato não enseja qualquer direito de uma parte sobre a 
    propriedade intelectual da outra existente anteriormente a celebração deste Contrato. Os materiais revelados ou disponibilizados 
    pela CONTRATANTE à CONTRATADA para execução dos serviços, bem como os resultados obtidos com os serviços, determinados ou não, 
    são (ou serão) de propriedade exclusiva da CONTRATANTE, não podendo a CONTRATADA deles dispor, de qualquer forma, exceto para a 
    execução dos serviços ora contratados.</p>

 <p align="justified"><b>Cláusula 62ª:</b>Lei Geral de Proteção de Dados Pessoais (“LGPD”). Cada Parte reconhece que será integral e exclusivamente 
    responsável, perante a outra Parte, perante os titulares dos Dados Pessoais e perante quaisquer terceiros, em caso de 
    descumprimento da legislação aplicável às atividades de tratamento dos Dados Pessoais que conduzir.</p> 

 <p align="justified"><b>Cláusula 63ª:</b>Assinaturas Eletrônicas ou Digitais. As Partes, inclusive as suas testemunhas, declaram que reconhecem a 
    forma eletrônica ou digital para a celebração do presente Contrato, através de qualquer plataforma de sua livre escolha 
    (desde que de comum acordo), ainda que seja estabelecida com assinatura eletrônica ou certificação fora dos padrões ICP-BRASIL, 
    garantindo sua integridade bem como a autenticidade da autoria de seus signatários, sendo a assinatura eletrônica ou digital 
    plenamente válida e eficaz para todos os fins de direito, conforme disposto pelo Art. 10, da Medida Provisória n.º 2.200/2001 
    em vigor no Brasil.</p>

 <p align="justified"><b>Cláusula 64ª:</b>Lei Aplicável. Este Contrato será regido e interpretado de acordo com a legislação da República Federativa do 
    Brasil.</p>

<h4>DA RESOLUÇÃO DE CONFLITOS / FORO DE ELEIÇÃO.</h4>
 <p align="justified"><b>Cláusula 65ª:</b>No caso de sobrevirem litígios ou divergências em razão deste Contrato, as Partes concordam em envidar 
    seus melhores esforços para dirimi-los de maneira amigável e de acordo com os princípios da boa-fé.</p>

 <p align="justified"><b>Cláusula 66ª:</b>As partes elegem o Foro Central da Comarca de São Paulo/SP, como único competente para dirimir todas e 
    quaisquer dúvidas e/ou conflitos decorrentes deste Contrato, renunciando a qualquer outro, por mais privilegiado que seja.</p>

 <p align="justified">E por estarem assim, justos e contratados, celebram o presente Contrato em 02 (duas) vias de igual teor e forma ou em 
    01 (uma) única via digital/eletrônica, na presença de 02 (duas) testemunhas, para que produza todos os seus jurídicos e 
    legais efeitos.</p>


    <br><br>



 <p align="justified">São Paulo, 01 de agosto de 2022.</p>


<br><br><br><br>



_____________________________________________<br>
NOME DO CONTRATANTE (contratante) <br>
Representante Legal: NOME DO REPRESENTANTE LEGAL

<br><br><br><br>

_____________________________________________<br>
Dodocs Preparação de Documentos LTDA (contratado)<br>
Representante Legal: Rogerio Fernando Antonio Martorelli

<br><br><br><br>



_____________________________________________<br>
TESTEMUNHA<br>
Nome: <br>
CPF:

</body>