{% extends "template.html" %}
{% block conteudo %}


  <div class="page-content page-container" id="page-content">
    <div class="padding">
      <div class="row container d-flex justify-content-left">
        <div class="col-lg-12 grid-margin stretch-card">

          <!--form mask starts-->
          <div class="card">
          <div class="card-body">
            <h4 class="card-title">Fluxo de Cadstrato de Evento</h4>
            <p class="card-description">Informe o CNPJ do Organizador</p>

            <form {% if org  %} action="/add_local"  {% else %} action="/valida_cli" {% endif %} method="post">
            <form class="forms-sample">

              <div class="card">
              <div class="card-body">
              <div class="form-group row">
                <div class="col">
                  <label for="cnpj1">CNPJ</label>
                  <input id="cnpj1" name="cnpj1" class="form-control" data-inputmask="'alias': '99.999.999/9999-99'" {% if org  %} value="{{org.cnpj}}" {% endif %} >
                </div>
                <div class="col">
                  <label for="nome">Razão Social</label>
                  <input class="form-control" id="nome" name="nome" {% if org  %} value="{{org.razao}}" {% endif %} >
                </div>
              </div>
            </br>





                <div class="col">
                  <button>Validar</button>
                  {% with messages = get_flashed_messages() %}
                    {% if messages %}
                      <p> class=flashes </p>
                      {% for message in messages %}
                        {{ message }}
                      {% endfor %}
                    {% endif %}
                  {% endwith %}


                   {% if org  %}
                  <input type="hidden" name="id_realizador" value="{org.id_empresa}}">
                  <button>Próximo</button>
                  {% endif %}
                </div>
              </div>
            </form>




  <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript">

$(document).ready(function(){
$(":input").inputmask();

$("#telefone").inputmask({
mask: '99 9999 9999',
placeholder: ' ',
showMaskOnHover: false,
showMaskOnFocus: false,
onBeforePaste: function (pastedValue, opts) {
var processedValue = pastedValue;

return processedValue;
}
});



});


  var myLink = document.querySelectorAll('a[href="#"]');
  myLink.forEach(function(link){
    link.addEventListener('click', function(e) {
      e.preventDefault();
    });
  });

 </script>
{% endblock %}