{% extends "template.html" %}
{% block conteudo %}

  <div class="page-content page-container" id="page-content">
    <div class="padding">
      <div class="row container d-flex justify-content-left">
        <div class="col-lg-12 grid-margin stretch-card">

          <!--form mask starts-->
          <div class="card">
          <div class="card-body">
            <h4 class="card-title">Editar Clientes</h4>

            <form action="{{url_for('add_cliente')}}" method="get">
            <form class="forms-sample">

              <div class="form-group row">
                <div class="col">
                  <label for="cnpj">CNPJ</label>
                  <input id="cnpj1" name="cnpj1" class="form-control" data-inputmask="'alias': '99.999.999/9999-99'" value="{{emp.cnpj}}">
                </div>
                <div class="col">
                  <label for="codCli">Cod Cliente</label>
                  <input class="form-control" id="codCli" name="CodCli" disabled value="{{emp.cdEmpresa}}">
                </div>
              </div>

              <div class="form-group row">
                <div class="col">
                  <label for="nome">Razão Social</label>
                  <input class="form-control" id="nome" name="nome" value="{{emp.razao}}">
                </div>
                <div class="col">
                  <label for="fantasia">Nome Fantasia</label>
                  <input class="form-control" id="fantasia" name="fantasia" value="{{emp.fantasia}}">
                </div>
              </div>

              <div class="form-group row">
                <div class="col-lg-3">
                  <label for="abertura">Data Abertura</label>
                  <input class="form-control" id="abertura" name="abertura" value="{{emp.abertura}}">
                </div>
                <div class="col-lg-3">
                  <label for="telefone">Telefone</label>
                  <input class="form-control" id="telefone" name="telefone" value="{{emp.fone}}">
                </div>
                <div class="col">
                  <label for="email">E-mail</label>
                  <input class="form-control" id="email" name="email" type="email" value="{{emp.email}}">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-lg-2">
                  <label for="code">Cod. Atividade </label>
                  <input class="form-control" id="code" name="code" value="{{emp.code}}">
                </div>
                <div class="col">
                  <label for="atividade_principal">Atividade Principal</label>
                  <input class="form-control" id="atividade_principal" name="atividade_principal" value="{{emp.atividade_principal}}">
                </div>
              </div>
              <div class="form-group row">
                <div class="col">
                  <label for="logradouro">Logradouro</label>
                  <input class="form-control"  id="logradouro" name="logradouro" value="{{emp.logradouro}}">
                </div>
                <div class="col-lg-2">
                  <label for="numero">Numero</label>
                  <input class="form-control"  id="numero" name="numero" value="{{emp.numero}}">
                </div>
                <div class="col-lg-3">
                  <label for="complemento">Complemento</label>
                  <input class="form-control"  id="complemento" name="complemento" value="{{emp.complemento}}">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-lg-3">
                  <label for="bairro">Bairro</label>
                  <input class="form-control"  id="bairro" name="bairro" value="{{emp.bairro}}">
                </div>
                <div class="col-lg-3">
                <label for="municipio">Municipio</label>
                <input class="form-control" type="text" id="municipio" name="municipio" value="{{emp.municipio}}">
                </div>
                <div class="col-lg-1">
                  <label for="uf">UF</label>
                  <input class="form-control"  id="uf" name="uf" value="{{emp.uf}}">
                </div>
                <div class="col-lg-3">
                  <label for="cep">CEP</label>
                  <input class="form-control"  id="cep" name="cep" value="{{emp.cep}}">
                </div>
                <div class="col">
                  <input type="submit" value="Próximo">
                </div>
              </div>
            </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
