{% extends "template.html" %}
{% block conteudo %}

  <div class="page-content page-container" id="page-content">
    <div class="padding">
      <div class="row container d-flex justify-content-center">
        <div class="col-lg-4 grid-margin stretch-card">

          <div class="card">
          <div class="card-body">
            <h4 class="card-title">Contatos</h4>


            <form class="forms-sample">

                <div class="form-group row">
                    <div class="col">
                        <label for="nome">Nome</label>
                        <input class="form-control" type="text" id="nome" name="nome">
                    </div>
                    <div class="col">
                        <label for="sobrenome">Sobrenome</label>
                        <input class="form-control" type="text" id="sobrenome" name="sobrenome">
                    </div>
                </div>

              </div>
            
              <div class="form-group row">
                <div class="col">
                  <label for="Senha">Senha</label>
                  <input class="form-control" id="senha" name="senha">
                </div>
              </div>

              <div class="form-group row">
                <div class="col-lg-3">
                      <button>Login</button>
                </div>
  <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>

  
</body></html>
  
<body>
    <form action="./"></form>

    <label for="nome">Nome</label>
    <input type="text" id="nome" name="nome">
    
    <label for="sobrenome">Sobrenome</label>
    <input type="text" id="sobrenome" name="sobrenome">
    
    <label for="email">email</label>
    <input type="text" id="email" name="email">
    
    <label for="telefone">Telefone</label>
    <input type="text" id="elefone" name="telefone">
    
    <label for="celular">Celular</label>
    <input type="text" id="celular" name="celular">
    
    <label for="rg">RG</label>
    <input type="text" id="rg" name="rg">
    
    <label for="dpf">CPF</label>
    <input type="text" id="cpf" name="cpf">
    
    <label for="crea">CREA</label>
    <input type="text" id="crea" name="crea">
    
    <label for="uf">uf</label>
    <input type="text" id="uf" name="uf">
    
    <a href="./">Adicionar profissão</a>
    
    <label for="profissao">Profissão</label>
    <input type="text" id="profissao" name="profissao">
    
    
    <button>Gravar</button>
    
{% endblock %}