<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Dodocs - Clientes</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>


  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='cnpj.js') }}" ></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>
  <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>


</head>



<body classname="snippet-body">



<!-- MENU -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Cliente</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{{url_for('list_cliente')}}">Listar</a></li>
              <li><a class="dropdown-item" href="{{url_for('cliente')}}">Cadastro</a></li>
            </ul>
          </li>
           <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Evento</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{{url_for('list_evento')}}">Listar</a></li>
              <li><a class="dropdown-item" href="{{url_for('add_evento')}}">Cadastrar</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Parceiro</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{{url_for('list_servico')}}">Listar</a></li>
              <li><a class="dropdown-item" href="{{url_for('cad_servico')}}">Cadastrar</a></li>
            </ul>
          </li>
           <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Contato</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{{url_for('list_servico')}}">Listar</a></li>
              <li><a class="dropdown-item" href="{{url_for('cad_contato')}}">Cadastrar</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Serviço</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{{url_for('list_servico')}}">Listar</a></li>
              <li><a class="dropdown-item" href="{{url_for('cad_servico')}}">Cadastrar</a></li>
            </ul>
          </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Serviço</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{{url_for('list_servico')}}">Listar</a></li>
              <li><a class="dropdown-item" href="{{url_for('cad_servico')}}">Cadastrar</a></li>
            </ul>
          </li>
        </ul>
    </div>
  </div>
</nav>

<!-- END MENU -->

  <br>

    {% block conteudo %} {% endblock %}


<script type="text/javascript">
$(document).ready(function(){
    $('#cnpj').focus();
    $(":input").inputmask();
    $("#telefone").inputmask({
        mask: '99 9999 9999',
        placeholder: ' ',
        showMaskOnHover: false,
        showMaskOnFocus: false,
        onBeforePaste: function (pastedValue, opts) {
        var processedValue = pastedValue;
    return processedValue;}});
});
  var myLink = document.querySelectorAll('a[href="#"]');
  myLink.forEach(function(link){
    link.addEventListener('click', function(e) {
        e.preventDefault(); });
  });

 </script>
    </div>
  </div>
</body>
</html>